body {
      background-image: url("img/lib.jpg");
      background-color: #cccccc;
	  background-size: 100em 70em;
	  background-repeat: no-repeat;
}

 .text1
 {
      background-color: black;
      color: white;
 }

 #side_bar {
      background-color: whitesmoke;
      padding: 50px;
      background-size: 45px 20px;
}
.vl {
      border-left: 6px solid green;
      height: 500px;
    }