<!-- common-header.html -->

<header>
    <div class="header-content">
        <h1 class="logo">Shree Gurudatta Travels</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('home_login') }}">Home</a></li>
                <li><a href="{{ url_for('about_login') }}">About</a></li>
                <li><a href="http://localhost/login/login.php">Login</a></li>
                <li id="welcome" style="display: none;"></li>
                <li id="logout" style="display: none;"><a href="#" onclick="logout()">Logout</a></li>
            </ul>
            
        </nav>
    </div>
</header>
