<!-- common-header.html -->

<footer>
    <style>
        /* Footer styling */
footer {
    color: #333;
    background-color: #FAF9F6;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

    </style>
    <div class="footer-content">

        12 B, Laaaxmi Niwas, Ambika Park, Vatan Nagar, Talegaon-Chakan Road, Tal. Maval, Dist. Pune - 410 507. 
        Mobile: <a href="tel:+919823764616">9823764616</a>, 
        <a href="tel:+919850959364">9850959364</a>
    </div>
</footer>