<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shree Gurudatta Travels - AutoRecs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include the common header -->
    {% include 'common-header.html' %}
</head>

<body>
    <center>
        <h1>Top 5 Recommended Cars</h1>

        <table border="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Fuel Type</th>
                    <th>Image</th> 
                </tr>
            </thead>
            <tbody>
                {% for index, car in recommendations.iterrows() %}
                <tr>
                    <td>{{ car['Name'] }}</td>
                    <td>{{ car['Manufacturer'] }}</td>
                    <td>{{ car['Fuel_Type'] }}</td>
                    <td>
                        <img src="{{ car['ImageURL'] }}" alt="{{ car['Name'] }} {{ car['Manufacturer'] }}" width="100">
                    </td>
                    <!-- Adjust 'ImageURL' based on the actual column name in your DataFrame containing image URLs or paths -->
                    <!-- Add more columns with car details -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>

<!-- Include the common footer -->
{% include 'common-footer.html' %}

</html>
